body{
    font-family:"Montserrat" ;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.montserrat-black {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: gray;
}
.navbar-brand{
    font-family: "Ubuntu",serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-item{
    padding: 0 10px;
}
.nav-link{
    font-family: "Montserrat-light";
    font-size: 2.5rem;
}
.btn{
    margin: 5% 3%;
}
.img1{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;   
}
.feature-box > p{
    padding: 0 5%;
}
.icon{
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ef8172;
}
#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: white;
}
.testimonial-image{
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 10% ;
    margin: 20px 2% 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.price{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
.cta{
    text-align: center;
}
#footer{
    background-color: white;
    text-align: center;
}
#footer>i{
    margin: 2% 2% 2%;
}
@media (max-width: 1040px) {
    .img1{
        transform: rotate(0);
        position: static;
        width: 60vw;
    }
    .container-fluid{
        text-align: center;
    }
}